.sliderPartner{
    .swiper-slide {
      width: calc(100% / 3);
      transition: all .25s ease-out;
      opacity: 1;
    }
    
    .swiper-slide-active + .swiper-slide ~ .swiper-slide {
      opacity: .35;
    }
    
    .swiper-slide img {
      max-width: 100%;
      transition: all .25s ease-out;
      transform: scale(.75);
      transform-origin: center;
    }
    
    .swiper-slide-active img {
      transform: scale(1);
    }
  }